* {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;
}

#welcome {
	font-size: 200%;
}

#continue {
	background-color: #89CFF0;
	color: #FFFFFF;
	
}
