button.nav {
	padding: 10px 10px;
	background: #4479BA;
	color: #FFF;
	border: 0px;
	padding: 10px 10px;
}

#list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #4479BA;
	width: 100%;
}

li.nav {
	float: left;
}

li.nav a {
	display: block;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	
}

#home:hover, #blog:hover, #media:hover, #aboutus:hover, #home:focus, #blog:focus, #media:focus, #aboutus:focus {
	background: #356094;
}
