#home, #blog, #aboutus, #media {
	padding: 10px 10px;
	background: #4479BA;
	color: #FFF;
	border: 0px;
}

#list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #4479BA;
}

li.nav {
	float: left;
}

li.nav a {
	display: block;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	
}

button.nav:hover, button.nav:focus {
	background: #356094;
}
